.Nav {
    display: flex;
    padding-left: 0;
    list-style-type: none;
}

.Nav > li {
    margin-top: 0;
}

.Nav > li > p {
    display: block;
    padding: 0.5em 1em;
    background-color: orange;
    color: white;
    border-radius: 2px;
    text-decoration: none;
}

.Nav > li + li {
    margin-left: 1.5em;
}

.Nav > .Nav-Left {
    margin-right: auto;
}
