.App {
  text-align: center;
}

.Graph-Body {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 500px;
    grid-gap: 1em;
}

.Graph-Body > * {
    background-color: pink;
}
