.App {
    max-width: 1080px;
    margin: 0 auto;
}

.Graph-Body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1em;
}

.Graph-Body > svg {
    background-color: pink;
}

.Nav {
    list-style: none;
}

.Nav li {
    display: inline-block;
}

.Nav p {
    color: white;
    background-color: orange;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

.Title {
    color: white;
    background-color: orange;
    padding: 10px 20px;
    margin: 0 auto;
    border-radius: 5px;
}
